---
/**
 * This is the standard TextBubble components that is to be used in MDX posts.
 * @param _props 
 */
import type { BubbleSpeech } from "./BubbleBase.astro";
import YonicBubble from "./themes/Yonic.astro";
import RaxkiBubble from "./themes/Raxki.astro";
import LianBubble from "./themes/Lian.astro";

import { load } from "cheerio";
import FeedBranch from "../FeedBranch.astro";

interface Props extends BubbleSpeech {
    theme: string,
    name?: string,
    singleLine?: boolean,
}


const { theme, position = "none", offset, alignment = "center", name } = Astro.props;

const themes: Record<string, (_props: BubbleSpeech) => any> = {
    "yonic": YonicBubble,
    "raxki": RaxkiBubble,
    "lian": LianBubble,
}

const Component = themes[theme];

const normalHtml = await Astro.slots.render("default");
const $ = load(normalHtml, null, false);
const singleLine = Astro.props.singleLine ?? $.root().children().length === 1;

if(name && singleLine) {
    const firstLine = $("p").first();
    firstLine.html(`<b>${name}:</b> ${firstLine.html()}`);
}
const feedHtml = $.root().html()!;
---
<FeedBranch>
<Component {position} {offset} {alignment}><slot/></Component>
<div slot="feed">{name && !singleLine && <p><b>{`<${name}>`}</b></p>}<Fragment set:html={feedHtml} />{name && !singleLine && <p><b>{`</${name}>`}</b></p>}</div>
</FeedBranch>