---
import { Code } from 'astro/components';
import type { BuiltinLanguage, LanguageRegistration, SpecialLanguage } from 'shikiji';

import Window from './Window.astro';
import FeedBranch from './FeedBranch.astro';

interface Props {
    code: string,
    lang?: BuiltinLanguage | SpecialLanguage | LanguageRegistration,
    filename?: string
}


const { code, lang } = Astro.props;
const filename = Astro.props.filename?.trim();

---
<FeedBranch>
<Window class="code-window" title={filename!=="-"? filename : undefined}>
    <Code code={code} lang={lang} theme="min-dark"/>
</Window>
<div slot="feed">
    {filename && <b>{filename}:</b><br/>}
    <Code code={code} lang={lang} theme="min-dark"/>
</div>
</FeedBranch>

<style lang="scss" is:global>
    .astro-code {
        width: 100%;
        background: none!important;
        margin: 0!important;
        padding: 0!important;
        overflow: auto!important;
        overflow: scroll auto!important;
        overflow-x: scroll!important;
        font-size: 12px;
    }
</style>