---
import { getImage, Image } from "astro:assets";

interface Props {
    src: ImageMetadata,
    alt: string,
    width?: number | string,
    fallback?: "jpg" | "jpeg" | "gif" | "png",
    nocaption?: boolean,
}
const { src, alt, nocaption = false, fallback = "jpg" } = Astro.props;
const margin = 12;
const padding = 3;
const MAX_WIDTH = 454;
const width = parseInt(Astro.props.width?.toString() ?? MAX_WIDTH.toString() )
const trueWidth = Math.min(MAX_WIDTH, width)-padding*2;

const borderImg = await getImage({src, width: 1, height: 1, format: "gif"});
---
<center>
    <div class="figure" style={{background: `url(${borderImg.src})`, width: `${trueWidth}px`, margin: `${margin}px 0`, padding: `${padding}px`}}>
        <Image {src} {alt} width={trueWidth} format={fallback} />
        {!nocaption && <div class="caption" style={{width: trueWidth+'px'}}>
            <div style="padding: 10px">
                <slot />
            </div>
        </div>}
    </div>
</center>

<style is:global>
    .figure img {
        display: block;
    }
    .figure .caption {
        display: block;
        background-color: #92fffa;
        color: black;
        text-align: center;
        font-style: italic;
    }
    .figure .caption i, .figure .caption em {
        font-style: normal;
    }
</style>