---
import { Image } from "astro:assets";
import FeedBranch from "./FeedBranch.astro";
import { getEntry } from "astro:content";

type Props = { id: string };

const {id} = Astro.props;

const {id: musicId, data: music} = (await getEntry('music', id))!;
const baseUrl = import.meta.env.BASE_URL.replace(/\/$/, "");
let coverImage = baseUrl + "/ui/music-cover-default.gif";
try {
    if(music.cover)
        coverImage = (await import(`../assets/covers/${music.cover}.png`)).default;
} catch(e) {}

const validFormats = ["audio/mpeg", "audio/mp3","audio/wav"];

const hasValidSource = music.sources.find(source => {
	if(source.type === "youtube")
		return false;
	return new URL(source.src).protocol === "http:" && validFormats.indexOf(source.type) >= 0;
});

const href = `/player/${musicId.replaceAll("\\", "/")}`;
---
<FeedBranch>
<table cellpadding="2" cellspacing="2" width="454" class="player-link">
    <thead>
        <tr>
            <th align="left" valign="middle" colspan="2"><img title="Music" alt="Music" style="vertical-align:middle" src="/icons/music.gif" width="16" height="16" /><span style="margin-left: 2px;vertical-align:middle">{music.title}</span></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td height="4" colspan="2"></td>
        </tr>
        <tr>
            <td align="center" width="64">
                <Image src={coverImage} width="48" height="48" alt="Music album cover" format="gif" />
            </td>
            <td valign="middle">
                <ul>
                    {music.album && <li><b>Album</b>: {music.album}</li>}
                    {music.author && <li><b>Author</b>: {music.author}</li>}
                </ul>
            </td>
        </tr>
        <tr>
            <td height="4" colspan="2"></td>
        </tr>
        <tr>
            <td align="center" colspan="2">
                <div class:list={[hasValidSource==null ? "disabled" : undefined]}>
                    {hasValidSource != null
                        ? <a {href} target="player"><u>L</u>isten</a>
                        : <span>Not available</span>
                    }
                </div>
            </td>
        </tr>
    </tbody>
</table>
<p slot="feed"><b>Music: </b><a {href}>{music.title}</a>&nbsp;<span>({[music.author, music.album].filter(data => data!=null).join(" | ")})</span></p>
</FeedBranch>

<style lang="scss" is:global>
    .article .player-link {
        $body-color: #00cccc;
        $border-color: #009d9d;
        margin: 8px 0;
        border-collapse: separate;
        background-color: $body-color;
        border: 2px outset #{$border-color};
        font-family: "Segoe UI", "MS Sans Serif", Geneva, Tahoma, sans-serif;
        font-smooth: never;
        -webkit-font-smoothing: none;
        -moz-osx-font-smoothing: unset;
        text-rendering: optimizeSpeed;
        td, th {
            font-size: 9pt;
            vertical-align: middle!important;
        }
        th {
            background-color: #056b5a;
            color: white;
        }
        div {
            background-color: $body-color;
            border: 2px outset #{$border-color};
            width: 64px;
            padding: 2px;
            a {
                display:block;
                font-weight: normal;
                color: black;
                text-decoration: none;
                text-align: center;
                border: 1px black dotted;
            }
        }
        ul {
            margin: 0;
            padding-left: 4pt;
            li {
                padding: 0;
                list-style-type: none;
            }
        }
        .disabled {
            color: #056b5a;
            width: 80px;
            span {
                cursor: default;
            }
        }
    }
</style>