---
import { getBorderImage, getRemoteImage, processShorthandles, getImageDimensions, type Shorthandle } from '@lib/remote-images';
import { INFER_REMOTE_IMAGE_SIZE } from '@lib/settings';

interface Props {
    src: string,
    alt: string,
    width?: number | string,
    quality?: number,
    fallback?: "jpg" | "jpeg" | "gif" | "png" | "bmp",
    raw?: boolean,
    fallbackSrc?: string,
}
const shorthandles: Shorthandle[] = [{ replaceCase: /^@:/, value: import.meta.env.BLOG_IMAGE_ROOT }];
const { alt, fallback = "jpg", quality = 70, raw = false } = Astro.props;
const src = processShorthandles(Astro.props.src, shorthandles);
const margin = 12;
const padding = 3;
const MAX_WIDTH = 454;
const width = parseInt(Astro.props.width?.toString() ?? MAX_WIDTH.toString() )
const trueWidth = Math.min(MAX_WIDTH, width)-padding*2;

const proxiedSrc = !raw 
    ? getRemoteImage({src, width: trueWidth, format: fallback, quality})
    : processShorthandles(Astro.props.fallbackSrc ?? Astro.props.src, shorthandles);
const dimensions: {width?: number, height?: number} = INFER_REMOTE_IMAGE_SIZE? await getImageDimensions({src: proxiedSrc, width: trueWidth, referenceUrl: src}) : {width: undefined, height: undefined};
const borderImg = getBorderImage(src);
---
<center>
    <div class="figure" style={{backgroundImage: `url(${borderImg})`, width: `${trueWidth}px`, margin: `${margin}px 0`, padding: `${padding}px`}}>
        <img src={proxiedSrc} {alt} width={dimensions.width} height={dimensions.height} />
        {Astro.slots.has("default") && <div class="caption" style={{width: trueWidth+'px'}}>
            <center>
                <div style={{width: trueWidth-10+'px', padding: "10px 0"}}>
                    <slot />
                </div>
            </center>
        </div>}
    </div>
</center>
