---
import { Image } from "astro:assets";
import { getBorderImage, getRemoteImage, processShorthandles, type Shorthandle } from '@lib/remote-images';
interface Props {
    src: string,
    alt: string,
    width?: number | string,
    quality?: number,
    fallback?: "jpg" | "jpeg" | "gif" | "png" | "bmp",
}
const shorthandles: Shorthandle[] = [{ replaceCase: /^@:/, value: import.meta.env.BLOG_IMAGE_ROOT }];
const { alt, fallback = "jpg", quality = 70 } = Astro.props;
const src = processShorthandles(Astro.props.src, shorthandles);
console.log(src);
const margin = 12;
const padding = 3;
const MAX_WIDTH = 454;
const width = parseInt(Astro.props.width?.toString() ?? MAX_WIDTH.toString() )
const trueWidth = Math.min(MAX_WIDTH, width)-padding*2;

const proxiedSrc = getRemoteImage({src, width: trueWidth, format: fallback, quality});
const borderImg = getBorderImage(src);
---
<center>
    <div class="figure" style={{backgroundImage: `url(${borderImg})`, width: `${trueWidth}px`, margin: `${margin}px 0`, padding: `${padding}px`}}>
        <Image src={proxiedSrc} {alt} inferSize />
        {Astro.slots.has("default") && <div class="caption" style={{width: trueWidth+'px'}}>
            <center>
                <div style={{width: trueWidth-10+'px', padding: "10px 0"}}>
                    <slot />
                </div>
            </center>
        </div>}
    </div>
</center>
