---
const flashSrc = "/yonic-corner-music-player.swf";
const size = 196;

const flashVars = {
	src: undefined,
	coverImage: undefined,
	musicDuration: 1000, // Non-zero value to prevent divisions by zero
	musicTitle: "Nothing playing"
};

function encode(url: string) {
	return decodeURIComponent(url) == url? encodeURI(url) : url;
}

const parsedFlashVars = Object.entries(flashVars).reduce((parsed, [key, value]) => {
	if(value==undefined) return '';
	return `${parsed}&${key}=${encode(value.toString())}`;
}, "").slice(1);
---
<!DOCTYPE html>
<html>
	<head>
		<title>Music player</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	</head>
	<body marginwidth="0" marginheight="0" leftmargin="0" topmargin="0" rightmargin="0" bottommargin="0" bgcolor="#A1FFED">
		<div id="flashContent">
			<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width={size} height={size} id="player">
				<param name="movie" value={flashSrc} />
                <param name="FlashVars" value={parsedFlashVars} />
				<param name="quality" value="high" />
				<param name="bgcolor" value="#A1FFED" />
				<param name="play" value="true" />
				<param name="loop" value="true" />
				<param name="wmode" value="opaque" />
				<param name="scale" value="showall" />
				<param name="menu" value="true" />
				<param name="devicefont" value="true" />
				<param name="salign" value="" />
				<param name="allowScriptAccess" value="sameDomain" />
				<!--[if !IE]>-->
				<object type="application/x-shockwave-flash" data={flashSrc} width={size} height={size}>
					<param name="movie" value={flashSrc} />
                    <param name="FlashVars" value={parsedFlashVars} />
					<param name="quality" value="high" />
					<param name="bgcolor" value="#A1FFED" />
					<param name="play" value="true" />
					<param name="loop" value="true" />
					<param name="wmode" value="opaque" />
					<param name="scale" value="showall" />
					<param name="menu" value="true" />
					<param name="devicefont" value="true" />
					<param name="salign" value="" />
					<param name="allowScriptAccess" value="sameDomain" />
				<!--<![endif]-->
					You need Flash Player 6 or higher for the music player.
				<!--[if !IE]>-->
				</object>
				<!--<![endif]-->
			</object>
		</div>
	</body>
</html>


<style>
	html, body { 
        font-family: Verdana, Geneva, Tahoma, sans-serif;
		font-size: 12px;
		overflow: hidden;
	}
	body { 
		margin:0; 
		padding:0;
	}
</style>