--- 
import NavigationTable from "../components/NavigationTable.astro";
import MusicPlayerWindow from "../components/MusicPlayerWindow.astro";
import BlurbWindow from "../components/BlurbWindow.astro";

import {version} from "../../package.json";

import standardCss from "../styles/layout-standard.css?url";
import "@lib/styles/global.scss";

interface Props {
	title: string;
	noindex?: boolean;
}

const { title, noindex = false } = Astro.props;

const rainbowColors = ["#078D70","#26CEAA","#98E8C1","white","#7BADE2","#5049CC","#3D1A78"]

const baseUrl = import.meta.env.BASE_URL.replace(/\/$/, "");

const basify = (url: string) => `url(${baseUrl}${url})`;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href={baseUrl + "/favicon.ico"} />
		<link rel="shortcut icon" type="image/x-icon" href={baseUrl + "/favicon.ico"}>
		<link rel="alternate" type=" application/rss+xml" href={baseUrl + "/feeds/rss.xml"}>
		<link rel="alternate" type=" application/rss+xml" href={baseUrl + "/feeds/rss-full.xml"}>
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="generator" content={Astro.generator} />
		{noindex && <meta name="robots" content="noindex" /> }
		<title>{title}</title>
        <script src="http://code.jquery.com/jquery-1.0.4.pack.js" integrity="sha256-upOUW/O9T857epnazR8IlX1C0ZSEE19MuqWoC75KUOE=" crossorigin="anonymous"></script>
		<!--[if gte IE 6]><!-->
		<link rel="stylesheet" type="text/css" href={baseUrl + "/layout-standard.css"}>
		<!--<![endif]-->
		<noscript>
			<style is:inline>
				.script-only {
					display: none!important;
				}
			</style>
		</noscript>
	</head>
	<body style={{backgroundImage: basify("/ui/bg.gif")}}>
		<center>
			<div id="bubbles" style={{backgroundImage: basify("/ui/bubbles.gif")}}></div>
			<div style="position: relative; z-index: 1">
				<table id="layout">
					<tr>
						<td colspan="3" id="site-header">
							<center>
								<a id="site-logo" href={baseUrl + "/"}>
									<img id="site-title" alt="The Yonic Corner" src={baseUrl + "/yonic-corner.gif"}>
								</a>
								<BlurbWindow />
							</center>
						</td>
					</tr>
					<tr>
						<td class="secondary-section">
							<center>
								<NavigationTable type="category" title="Categories" links={[
									{
										label: "Gaming",
										href: "/category/gaming/1",
										icon: "/icons/category/gaming.gif"
									},
									{
										label: "Dev stuff",
										href: "/category/development/1",
										icon: "/icons/category/development.gif"
									},
									{
										label: "Creative endeavours",
										href: "/category/creations/1",
										icon: "/icons/category/creations.gif"
									},
									{
										label: "Outdoor adventures",
										href: "/category/outside/1",
										icon: "/icons/category/outside.gif"
									},
									{
										label: "Blog updates",
										href: "/category/blog/1",
										icon: "/icons/category/blog.gif"
									},
									{
										label: "Miscellaneous",
										href: "/category/misc/1",
										icon: "/icons/category/misc.gif"
									},
								]}/>
								<NavigationTable type="search" title="Search the blog" links={[
									{
										label: "Series",
										href: "/series/1",
										icon: "/icons/series.gif"
									},
									{
										label: "Tags",
										href: "/tag",
										icon: "/icons/tags.gif"
									},
									{
										label: "Archive",
										href: "/archive",
										icon: "/icons/archive.gif"
									},
								]} />
							</center>
						</td>
						<td class="main-section">
							<center>
								<slot/>
							</center>
						</td>
						<td class="secondary-section">
							<center>
								<NavigationTable type="browse" title="Browse the blog" links={[
									{
										label: "All posts",
										href: "/blog/1",
										icon: "/icons/all-posts.gif"
									},
									{
										label: "About Yonic Corner",
										href: "/about",
										icon: "/icons/about.gif"
									},
								]}/>
								<MusicPlayerWindow />
							</center>
						</td>
					</tr>
				</div>
			</table>
			<div id="footer">
				<div id="rainbow">
					<img id="footer-me" src={baseUrl+"/ui/footer-me.gif"} />
					{
						rainbowColors.map((color) => (
							<div class="rainbow-strip" style={{backgroundColor: color}}/>
						))
					}
				</div>
				<center style={{backgroundImage: basify("/ui/footer.jpg")}}>
					<p>Yonic Corner Legacy v{version}, hosted by GitHub Pages <a class="badge" href="https://astro.build"><img align="middle" alt="Built with Astro" src="/badge-astro.gif" width="120" height="20"/></a></p>
					<span><a href="https://github.com/YonicDev/yonic-corner-legacy">Source code</a> | <a href={baseUrl+"/feeds/rss.xml"}><img src={baseUrl+"/icons/rss.gif"} alt="RSS" width="16" height="16" style="vertical-align: middle"/> Subscribe to feed</a> (RSS)</span>
				</center>
			</div>
		</center>
		<slot name="feed-writer" />
		<script is:inline>
			var ver = navigator.userAgent.split(" ");
			ver = ver[ver.length-1].split("/")[0];
			if(ver == "Netscape") {
				window.addEventListener('load', function() {
					$(".astro-code").each(function() {
						var height = $(this).height();
						$(this).height(height + 16 + 'px');
					})
				}, {});
			}
		</script>
	</body>
</html>
<style lang="scss" is:global>
	html, body {
		padding: 0;
		margin: 0;
	}
	body {
		font-family: Verdana, Geneva, Tahoma, system-ui, sans-serif;
		background: #03F3FF;
		image-rendering: pixelated;
		position: absolute;
		width: 100%;
	}
	* {
		box-sizing: content-box;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	a {
        font-weight: bold;
        color: #056B5A;
    }
	a.tag {
		text-decoration: none;
	}
	a img {
		border: none;
	}
	a:hover {
		text-decoration: underline;
	}
	#layout {
		border-collapse: collapse;
	}
	#layout td {
		padding: 0;
		vertical-align: top;
	}
	
	#bubbles {
		position: absolute;
		top: 0px;
		left: 0px;
		background-repeat: no-repeat;
		background-position: top center;
		width: 100%;
		height: 250px;
	}
	#site-title {
		margin-top: 100px;
	}
	#rainbow {
		position: relative;
		margin-top: 36px;
		padding: 0;
	}
	.rainbow-strip {
		display: block;
		padding: 0;
		margin: 0;
		height: 7px;
		/* IE adjusts size of divs based on font-size even if it's empty */
		font-size: 0;
	}
	.secondary-section {
		width: 240px;
	}
	#footer {
		font-size: 10pt;
		color: white;
		center {
			background-color: #1b1b2f;
			padding-bottom: 24px;
			padding-top: 12px;
			p {
				margin-top: 0;
			}
		}
	}
	#footer-me {
		position: absolute;
		top: -95px;
		right: 0px;
	}
	#footer a {
		color: deepskyblue;
	}
</style>